@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aprendendo DDD</h1>
    <p><a target="_blank" href="https://github.com/heberteofilo">Meu GitHub</a>.</p>
</div>
